
.FaqMainSection {
    margin-top: 4vw;
    min-height: 100vh;
    margin-right: 2.3vw;
  }
  
  .faqheading {
    background-color: var(--navbarColor);
    padding: 2.5vw 2vw;
    border-radius: 12px;
    margin-bottom: 1vw;
  }
  .faqheading h3 {
    color: var(--servicesText);
    font-size: 2.5vw;
  }
  .faqheading :nth-child(2) h3 {
    font-size: 1.2vw;
    font-weight: 400;
  }
  
  .faqFirstSection {
    width: 53.3vw;
    min-height: 80.37vh;
    border-radius: 12px;
    padding: .1vw;
  }
  .faqItem {
    background-color: #1a1a1a;
    margin-bottom: 1vw; 
    padding: 2vw 3vw; 
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .faqItem:hover {
    background-color: #1d1d1d;
  }
  
  .faqItem.active {
    background-color: #292929;
  }
  
  .faqQuestion h5 {
    font-size: 1.2vw !important;
    font-weight: 400;
    color: var(--servicesText);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .faqAnswer {
    margin-top: 1vw;
    font-size: 1.2vw;
    color: #ccc;
    line-height: 1.6;
  }
  
  .faqSecondSection {
    width: 39.7vw;
    border-radius: 12px;
    background-color: var(--navbarColor);
    padding: 3vw;
    height: 98.3vh;
  }
  
  .faqSecondSection h4 {
    color: var(--servicesText);
    font-size: 1.4vw;
    text-transform: uppercase;
    margin-bottom: 2vw;
  }
  
  .form-group {
    margin-bottom: 1.5vw;
  }
  
  .form-group label {
    font-size: 1.2vw;
    color: var(--servicesText);
  }
  
  .form-control {
    background-color:var(--navbarLinks);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 0.8vw;
    font-size: 1.2vw;
  }
  
  .form-control::placeholder {
    color: #777;
  }
  
  .sendMessageBtn {
    background-color: var(--secondaryColor);
    color: #000;
    padding: 1vw 2vw;
    border: none;
    border-radius: 8px;
    font-size: 1.2vw;
    width: 100%;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
  }
  
  .sendMessageBtn:hover {
    background-color: var(--secondaryHoverColor);
  }
  @media (max-width: 576px) {
    .faqheading {
      border-radius: 34px;
      /* padding: 1vw; */
      padding-left: 5vw;
      padding-right: 4vw;
      padding-top: 3vw;
  }
  .FaqMainSection {
    margin-right: 0.3vw !important;
  }
  .faqSecondSection{
    margin-top: -6vw;
  }
  .faqSecondSection {
    padding: 6vw !important;
}
.form-control {
  font-size: 4.2vw !important;
}
.faqSecondSection {
  height: 79.3vh !important;
}
    .faqheading h3 {
      font-size: 4vw;
  }
  .faqheading :nth-child(2){
    display: none;
  }
  .faqheading :nth-child(2) img{
    width: 10vw;
  }
  .faqFirstSection {
    width: 88vw;
    margin-top: 1vw;
    min-height: 80.37vh;
    border-radius: 12px;
    padding: .2vw;
}
.faqQuestion  h5{
  font-size: 3.3vw;
}
.plusMinus{
  width: 8vw;
}
.faqItem {
  padding: 2.8vw 2vw;
}
.faqSecondSection {
  width: 89.7vw;
  height: 68.3vh;
  padding: 4vw;
}
.faqFirstSection {
  min-height: 47.37vh;
  
}
.faqSecondSection h4 {
  font-size: 7vw;
}
.form-group label {
  font-size: 4.5vw;
  margin-top: 2vw;
  margin-left: 1vw;
}
.form-control {
  font-size: 3.2vw;
}
.sendMessageBtn {
  font-size: 4.5vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
}
.footerHeading h3 {
  font-size: 6.5vw;
  width: 89.2vw;
}
.footerHeading p {
  width: 86.2vw;
}
.footerHeading h3 {
  font-size: 9.5vw;
  width: 99.2vw;
}
}