:root {
  --navbarColor: #1a1a1a;
  --navbarLinks: #0f0f0f;
  --navbarLinksColor: #81807e;
  --secondaryColor: #ce7d63;
  --secondaryHoverColor: #ffaf94;
  --servicesText: #f9efec;
  --paraText: #676665;
  --border: #333333;
  --paragraphText: #b3b3b2;
  --btnBackground: #1f1f1f;
  --textColor: #f9efec;
  --color: #e6e6e6;
  --testimonilName: #f3dfd8;
}
