.about-testimonial{
  width:93.8vw !important;
}
.testimonial-title{
  font-size:1.3vw;
}
.testimonial-description{
  font-size:1vw;
}
@media screen and (max-width: 768px){
  .about-testimonial{
      width:88vw !important; 
  }
  .testimonial-title{
    font-size:4vw;
}
.testimonial-description{
    font-size:4vw;
}
}
