/* .testimonial-top{
   margin-top:4rem;
}
@media (max-width: 576px){
    .testimonial-top{
        margin-top:2rem;
    } 
} */
.about-testimonial{
  /* margin-left:6px; */
  width:92.5vw  
}
@media screen and (max-width: 768px){
  .about-testimonial{
      width:82vw  
  }
}
