.aboutcircleimage{
    width:16vw;
    margin-top: 5px;
}
.about-header{
    border-radius:14px;
}
.about-header-box{
    width:62vw;
    height:23vw;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius:20px;
}
.about-card-section{
    height:19vh;
    border-radius:50px;
    
}
.aboutmarginfix{
    display:flex;
    justify-content: center;
    height:25vw;
    width:30.6vw;
    border-radius:14px;
    padding:0 16px;
    
}
.about-header-cards{
    display:flex;
    justify-content:center;
    align-items:center;
    width:13.8vw;
    height:18vh;
    border-radius:14px;
    margin-top:10px; 
}
.about-know-more{
    font-size:15px;
    margin-top:8px;
    margin-bottom:20px;
}
.about-header-box h1{
    font-size:3.021vw;
    line-height: 4.531vw;
    margin-left:26px; 
   
}
.about-down-arrow{
    width:40px;
}
.about-main-heading{
    min-width:fit-content;
   
}

@media screen and (max-width: 768px){
   
    .about-card-section{
        height:12vh;
        border-radius:50px;
    }
    .aboutmarginfix{
        display:flex;
        justify-content: center;
        height:80vw;
        width:100%;
        border-radius:14px;
        padding:0 16px;
        
    }
    .about-header-cards{
        display:flex;
        justify-content:center;
        align-items:center;
        width:40vw;
        height:12vh;
        border-radius:14px;
        margin-top:10px;
        
    }
   
}