:root{
    --navbarColor:#1A1A1A;
    --navbarLinks:#0F0F0F;
    --navbarLinksColor:#81807E;
    --secondaryColor:#CE7D63;
    --secondaryHoverColor:#ffaf94;
    --servicesText:#F9EFEC;
    --paraText:#676665;
    --border:#333333;
    --paragraphText:#B3B3B2;
    --btnBackground:#1F1F1F;
    --textColor:#F9EFEC;
    --color:#E6E6E6;
    --testimonilName:#F3DFD8;
}