.about-team-member{
    width:93.6vw !important;
}

.marginTop{
   margin-top: 4vw;
}
.about-cards{
    width:22vw;
    border-radius:8px;
}
.social-icon-img{
    width:2.5vw;
}
.about-title {
    font-size:2.4vw; 
    color: var(--textColor);
}
.about-members-name{
     color:var(--servicesText);
     font-size:1.3vw;
}
.about-members-post{
     color:var(--paragraphText);
     font-size:0.9vw;
}
@media screen and (max-width: 768px){
    .about-team-member{
        width:87vw!important;
    }
    .about-cards{
        width:100%;
        border-radius:10px;
    }
    .social-icon-img{
        width:10vw;
    }
    .about-title {
        font-size:6vw; 
        color: var(--textColor);
    }
    .about-members-name{
        color:var(--servicesText);
        font-size:4vw;
   }
   .about-members-post{
        color:var(--paragraphText);
        font-size:4vw;
   }
  
   
}
