.about-acheivement-member{
    /* margin-right:6px; */
    width:94vw !important;
}
.our-acheivement-box{
    width:22vw; 
    height:52vh
}
.ourAchievment-header{
    font-size:1.3vw;
}
.ourAchievment-para{
    font-size: 1.1vw;
}

@media screen and (max-width: 768px){
    .about-acheivement-member{
        width: 88vw !important;
    }
    .our-acheivement-box{
        width:100%;  
        height:45vh; 
    }
    .ourAchievment-header{
        font-size:4vw;
    }
    .ourAchievment-para{
        font-size:4vw;
    }
    
}
