* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* globaly definded colors */
:root {
  --navbarColor: #1A1A1A;
  --navbarLinks: #0F0F0F;
  --navbarLinksColor: #81807E;
  --secondaryColor: #CE7D63;
  --secondaryHoverColor: #ffaf94;
  --servicesText: #F9EFEC;
  --paraText: #676665;
  --successSectionLabelColor: #1F1F1F;
  --border: #333333;
  --paragraphText: #B3B3B2;
  --btnBackground: #1F1F1F;
  --textColor: #F9EFEC;
  --color: #E6E6E6;
  --testimonilName: #F3DFD8;
  --aboutNumberColor:#DA9E8B;
  

  --navbarColor:#1A1A1A;
  --navbarLinks:#0F0F0F;
  --navbarLinksColor:#81807E;
  --secondaryColor:#CE7D63;
  --secondaryHoverColor:#ffaf94;
  --servicesText:#F9EFEC;
  --paraText:#676665;
  --border:#333333;
  --paragraphText:#B3B3B2;
  --btnBackground:#1F1F1F;
  --textColor:#F9EFEC;
  --color:#E6E6E6;
  --testimonilName:#F3DFD8;
}

body {
  margin: 0;
  font-family: "SF-Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face {
  font-family: "SF-Pro";
  src: url('./Fonts/SF-Pro.ttf');
}
.App {
  background-color: var(--primaryColor);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primaryColor: #0f0f0f;
}

::-webkit-scrollbar {
  display: none;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* globaly definded colors */
:root {
  --navbarColor: #1A1A1A;
  --navbarLinks: #0F0F0F;
  --navbarLinksColor: #81807E;
  --secondaryColor: #CE7D63;
  --secondaryHoverColor: #ffaf94;
  --servicesText : #F9EFEC;
  --paraText : #676665;
  --successSectionLabelColor : #1F1F1F;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.App{
  background-color:#0f0f0f;
  min-height: 100vh;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root{
  --primaryColor : #0b0b0b;
}
::-webkit-scrollbar{
  display: none;
}