:root {
    --navbarColor: #1A1A1A;
    --navbarLinks: #0F0F0F;
    --navbarLinksColor: #81807E;
    --secondaryColor: #CE7D63;
    --secondaryHoverColor: #ffaf94;
}

/* Navbar Container */
.simple-navbar {
    background-color: var(--navbarColor);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.75);
    padding: 10px 0px;
    border-radius: 15px;
    height: 12vh;
    max-width: 1820px;

}

/* Brand Styling */
.simple-brand {
    font-size: 1.5rem;
    padding-left: 1.2vw;
    color: #F3DFD8;
    font-weight: 500;
    /* text-transform: uppercase; */
    letter-spacing: 1.5px;
    text-decoration: none;
}

.simple-brand:hover {
    color: #ffffff;
}

.nav-item span {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 1vw;
    background-color: var(--navbarLinks);
    color: var(--navbarLinksColor);
    border-radius: 0.5vw;
}


.navbar-link.active span {
    background-color: var(--navbarLinks);
    color: var(--secondaryHoverColor);
    font-weight: 500;
}


.navbar-link:hover span {
    background-color: var(--navbarLinks);
    color:var(--secondaryHoverColor);
}


 @media screen and (max-width: 768px) {
   #navbarNav{
    margin-top: 8vw !important;
    border-radius: 3vw !important;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    padding-top: 2vw;
    padding-bottom: 2vw;

   }
   .nav-item span{
    background-color: unset;
   }
   .navbar-link.active span {
    background-color: unset !important;
   }
   .navbar-collapse .navbar-nav{
    text-align: center !important;
    padding-right: 4vw;
    padding-left: 4vw;
   }
   .navbar-toggler .navbar-toggler-icon{
    filter: invert(1);
   }
   .navbar-toggler{
    background-color: #0a0a0a;
   }
   .contactUs{
    padding: 2vw 3vw;
    border-radius: 2vw;

   }.simple-navbar {
    padding: 18px 0px;
   }
} 


.contactUs {
    background-color: var(--secondaryColor) !important;
    color: #000 !important;
}
.navbar-collapse {
    background-color:var(--navbarColor);
    
}
.navbar-collapse .navbar-nav {
    text-align: center; 
}

.navbar-toggler .navbar-toggler-icon {
    color: #fff;
}