.ourWorks{
    margin-top: 4vw;
    min-height: 100vh;
    margin-right: 2.3vw;
}
.ourWorkHeading{
    background-color: var(--navbarColor);
    border-radius: 12px;
}
.ourWorkHeading h4{
    color: var(--servicesText);
    font-size: 2.5vw;
    padding: 1vw;
}
.ourWorkHeading :nth-child(2) p{
    color: #949494;
    padding-top: .5vw;
    padding-right: 1vw;
    font-size: 1.2vw;
}
.WorkFirstContainer{
    margin-top: 1vw;
    min-height: 25.68vh;
    border: 2px solid var(--navbarColor);
    padding: 1vw;
    border-radius: 12px;
}
.containerWorkone{
    height: 100%;
}
.mainWork{
    width: 30.1vw;
}
.mainworkfirst{
    border-radius: 10px;
    min-height: 34vh;
    padding: 2vw 1vw;
    background-color: var(--navbarColor);
}
.zelinth{
    width: 3.2vw;
}
.zelinth5{
    width: 2.5vw !important;
}
.zelinthtext{
    padding-top: .5vw;
    font-size: 1.1vw;
    color: var(--servicesText);
}


.categoryoutline{
    background-color: #1f1f1f;
    margin-top: 1vw;
    width: fit-content;
    padding: .2vw 1vw;
    border-radius: 23px;
}
.categoryoutline :nth-child(1){
    color: var(--paraText);
}
.categoryoutline :nth-child(3){
    color: var(--servicesText);
}
.categorytext{
    color: var(--servicesText);
    font-size: 1vw;
}
.dots{
    width: 2vh;
    height: 2vh;
    background-color: var(--secondaryColor);
}
.paragraphCategory{
    color: #949494;
    font-size: 1vw;
    padding-left: .8vw;
}
.workbackground{
    border-radius: 12px;
    overflow: hidden;
}
.workbackground :nth-child(1) img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.4;
}
.mycategorycontainer{
    height: 23vh;
    border-radius: 12px;
    background-color: var(--navbarColor);
    padding: 1.5vw;
}
.mycategorycontainer h4{
    color: var(--servicesText);
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5vw;
}
.cover{
    margin-top: .4vw;
     background-color: #1f1f1f;
    color: #a8a8a8;
    padding: .3vw 1vw;
    font-size: 1vw;
    border-radius: 23px;
    min-width: fit-content;
}
.mycategorycontainer2{
    height: 11vh;
    border-radius: 12px;
    background-color: var(--navbarColor);
}
.mycategorycontainer3{
    height: 6vh;
    border-radius: 12px;
    background-color: var(--secondaryColor);
}
.mycategorycontainer :nth-child(2){
    flex-wrap: wrap;
}
.profilephoto{
    width: 6vh;
    height: 6vh;
    background-color: var(--secondaryColor);
    border-radius: 50%;
    overflow: hidden;

}

.profilephoto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mycategorycontainer3 :nth-child(1) p{
    font-weight: 500;
}
@media (max-width: 576px){
    .ourWorks{
        margin-top:2vw;
        margin-left: 1vw;
        margin-right: 0.3vw;
    }
    .ourWorks {
        border: 2px solid #1a1a1a;
        padding: 2vw;
        border-radius: 16px;
    }
    .homeServiceContainer {
        width: 82.6vw;
    }
   
    .containerWorkone{
        margin-top: 1vw;
    }
    .ourWorkHeading {
        border-radius: 11px;
        padding-top: 3vw !important;
        padding-left: 5vw !important;
        height: 9vh;
    }
    .ourWorkHeading :nth-child(2) img{
        width: 8vw;
    }
    .ourWorkHeading :nth-child(2) p {
        padding-top: 4.5vw;
        padding-right: 4vw;
        font-size: 3.2vw;
    }
    .ourWorkHeading h4 {
        color: var(--servicesText);
        font-size: 5.5vw;
        padding-top: 2vw;
    }
    .myworkcontainerfirst{
        flex-direction: column;
    }
    .mainWork {
        width: 79.77vw;
        margin-left: 1vw;
    }
    .categoryoutline{
        margin-left: 2vw;
    }
    .paragraphCategory {
        font-size: 3.2vw !important;
        padding-left: 4vw;
    }
    .zelinth5{
        display: none;
    }
    .mycategorycontainer h4 {
        font-size: 4.5vw !important;
    }
    .profilephoto {
        width: 7vh !important;
        height: 7vh !important;
    }
    .zelinth {
        width: 14.2vw;
    }
    .zelinthtext {
        padding-top: 3.5vw;
        font-size: 3.2vw;
        color: var(--servicesText);
    }
    .WorkFirstContainer{
        margin-top: 3vw !important;
    }
    .categorytext {
        color: var(--servicesText);
        font-size: 3vw;
    }
    .categoryoutline {
        background-color: #363636;
        margin-top: 5vw;
        width: fit-content;
        padding: 1.2vw 5vw;
        border-radius: 23px;
    }
    .paragraphCategory {
        color: var(--paraText);
        font-size: 4.2vw;
    }
    .categoryoutline {
        background-color: #363636;
        margin-top: 3vw;
    }
    .mycategorycontainer h4 {
        font-size: 5.5vw;
    }
    .cover {
        margin-top: 1vw;
        padding: 1.3vw 3vw;
        font-size: 4vw;
    }
    .mycategorycontainer {
        padding: 3.5vw;
    }
    .mycategorycontainer2 {
        flex-direction: column;
    }
    .mycategorycontainer2 {
        height: 23vh;
        padding-bottom: 6vw;
    }
    .mycategorycontainer2 p{
        font-size: 6vw;
    }
    .profilephoto {
        width: 8vh;
        height: 8vh;
    }
    .ourWorkHeading{
        padding: 0vw !important;
        padding-left: 5vw !important;
    }
    .WorkFirstContainer{
        padding-bottom: 4vw;
    }
    .zelinthmobile{
        display: none !important;
    } 
}